@model FIT5032_Assignment_v1.Models.Booking

@{
    ViewBag.Title = "Delete Booking";
}

<h2>Delete Booking</h2>

<h3>Are you sure you want to delete this booking?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date
        </dt>

        <dd>
            @Html.ValueFor(model => model.Date, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @Html.ValueFor(model => model.StartDateTime, "{0:hh:mm tt}") - @Html.ValueFor(model => model.EndDateTime, "{0:hh:mm tt}")
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            Practitioner
        </dt>

        <dd>
            Dr @Html.DisplayFor(model => model.Dentist.FirstName) @Html.DisplayFor(model => model.Dentist.LastName)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt>
                Patient
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patient.FirstName) @Html.DisplayFor(model => model.Patient.LastName)
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
