@model IEnumerable<FIT5032_Assignment_v1.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<h2>Bookings</h2>

<p>
    @Html.ActionLink("Make a new booking", "Create")
</p>
<table id="bookingTable" class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Practitioner</th>
            @if (User.IsInRole("Admin") || User.IsInRole("Receptionist"))
            {
                <th>
                    Patient
                </th>
            }
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.StartDateTime.ToString("hh:mm tt") - @item.EndDateTime.ToString("hh:mm tt")
                </td>
                <td>
                    @item.Location.Name
                </td>
                <td>
                    Dr @item.Dentist.FirstName.ToString() @item.Dentist.LastName.ToString()
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Receptionist"))
                {
                    <td>
                        @item.Patient.FirstName @item.Patient.LastName
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
<script src="~/Scripts/dataTable.js"></script>
<script>
    $(document).ready(function () {
        $('#bookingTable').DataTable();
    });
</script>

